html, body, #root {
  margin: 0;
  height: 100%
}

.login {
  height: 100%;
  .pattern {
    margin: 0;
    float: left;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to bottom left, #242348, #5A55AA);
  }
  .form {
    width: 100%;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    @media only screen and (min-width: 600px) {
      width: 50%
    }
    .change-lang {
      position: absolute;
      top: -100px;
      right: 100px;
    }
    .MuiFormControl-root, .forget-row, .change-lang {
      width: 60%;
      min-width: 250px;
      max-width: 450px;
    }
    .forget-row {
      margin: auto;
      a {
        float: right;
        margin-top: 12px;
      }
      label {
        float: left;
      }
    }
    .MuiButton-root {
      width: calc(60% - 6px);
      min-width: 119px;
      max-width: 219px;
    }
  }
}

.language-selector {
  .MuiInputBase-root {
    width: 66px;
  }
}
.language-selector-image {
  width: 20px;
}
