@mixin marginEnd($size) {
  @if $size == 'auto' {
    margin-right: $size;
  } @else {
    margin-right: rem($size);
  }
}

@mixin marginStart($size) {
  @if $size == 'auto' {
    margin-left: $size;
  } @else {
    margin-left: rem($size);
  }
}

@mixin positionEnd($size) {
  right: rem($size);
}

@mixin positionStart($size) {
  left: rem($size);
}

@mixin floatEnd {
  float: right;
}

@mixin floatStart {
  float: left;
}

@mixin textAlignStart {
  text-align: left;
}

@mixin textAlignEnd {
  text-align: right;
}

@mixin languageDirection {
  direction: ltr;
}

@import "./styles/style";
