$dir: 'rtl';
$startAlign: right;

@mixin marginEnd($size) {
  @if $size == 'auto' {
    margin-left: $size;
  } @else {
    margin-left: rem($size);
  }
}

@mixin marginStart($size) {
  @if $size == 'auto' {
    margin-right: $size;
  } @else {
    margin-right: rem($size);
  }
}

@mixin paddingEnd($size) {
  @if $size == 'auto' {
    padding-left: $size !important;
  } @else {
    padding-left: rem($size) !important;
  }
}

@mixin paddingStart($size) {
  @if $size == 'auto' {
    padding-right: $size !important;
  } @else {
    padding-right: rem($size) !important;
  }
}

@mixin positionEnd($size) {
  left: rem($size);
}

@mixin positionStart($size) {
  right: rem($size);
}

@mixin floatEnd {
  float: left;
}

@mixin floatStart {
  float: right;
}

@mixin textAlignStart {
  text-align: right;
}

@mixin textAlignEnd {
  text-align: left;
}

@mixin languageDirection {
  direction: rtl;
}

body {
  direction: rtl;
}

.MuiIconButton-edgeStart {
  margin-right: -12px;
  margin-left: 0;
}

.MuiInputAdornment-positionEnd {
  margin-left: 0;
  margin-right: 8px;
}

.MuiAlert-action {
  padding-right: 16px;
  padding-left: 0;
}

.MuiAlert-icon {
  margin-left: 12px;
  margin-right: 0;
}

@import './styles/style';
